@import './../../variables.scss';

.projects-page-content {
  padding: 20vh 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  color: #08090a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .primary-projects-txt {
    font-weight: 800;
    line-height: 6vh;
    letter-spacing: 2px;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .projects-page-content {
    padding: 0;
    height: 100vh;

    .projects-wrapper {
      display: flex;
      flex-direction: row;
      & > a {
        margin: 10vh 4vmax 0 4vmax;
        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .primary-projects-txt {
      font-size: 6vh;
      margin-bottom: 4vh;
    }
  }
}
