@import './../../variables.scss';

.links-content {
  p {
    color: #08090a;
  }
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-me-txt {
    font-size: 3vh;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2vh;
  }
}

.line {
  background-color: #08090a;
  width: 60vw;
  height: 2px;
  margin-bottom: 4vh;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin-bottom: 13vh;
}

.my-photo {
  height: 40vh;
  align-self: flex-end;
}

.links {
  letter-spacing: 3px;
  font-weight: 600;
  img {
    height: 5vh;
    color: $additional-color;
    justify-self: center;
  }
  .links-row {
    display: grid;
    align-items: center;
    width: 60vw;
    grid-template-columns: 50% 50%;
    padding: 1vh;
    p {
      text-align: left;
      font-size: 2.5vh;
    }
  }
}

@media (min-width: 768px) {
  a {
    display: block;
    margin: auto;
  }

  .links {
    img {
      height: 7vh;
      justify-self: start;
    }
  }

  .links-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 60px);
    overflow-x: hidden;
    .contact-me-txt {
      font-size: 6vh;
    }
  }
  .my-photo {
    height: 35vw;
  }

  .line {
    width: 24vw;
    height: 5px;
  }
  .links-wrapper {
    width: 30vw;
    margin-left: 20vw;
  }

  .links {
    .links-row {
      width: 20vw;
      p {
        font-size: 3vh;
      }
    }
  }
}
