@import "./../variables.scss";

.links-content{
    height: 100%;
    background-color: $bg-color;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../media/contact-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bg-color;
}

.links-wrapper{
    padding: 2vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.76);
}

.my-photo{
    margin-bottom: 6vh;
}

.links{
    letter-spacing: 3px;
    font-weight: 600;
    width: 60vw;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    img{
        height: 5vh;
        color: $additional-color;
    }
    .links-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1vh;
        &:hover{
            background-color: rgba(255, 255, 255, 0.103);
        }
        
    }
    .links-line{
        margin: 3px;
        background-color: #393939;
        width:100%;
        height: 2px;
    }
    p{
        text-align: left
    }
}

@media (min-width: 768px){
    .links-content{
        align-items: flex-start;
    }
    .links-wrapper{
        padding: 2em;
        margin-left:20vw;
    }
    .my-photo{
        height: 25vh;
        margin-bottom: 5vh;
    }
    .links{
        width: 20vw;
    }    
}

