@import "./../variables.scss";

.projects-page-content{
    height:220vh;
    width:100vw;
    background-color:#F5F5F5;
    color:#08090A;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primary-projects-txt{
    font-weight: 800;
    line-height: 6vh;
    letter-spacing: 2px;
    font-size: 4vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        margin:0;
    }
}

@media (min-width: 768px){

    .projects-page-content{
        height:100vh;
    }
    .projects-wrapper{
        width: 80vw;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .primary-projects-txt{
        font-size: 6vh;
        margin-bottom: 4vh;
    }
}