@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}

.project-wrapper {
  display: flex;
  color: #08090a;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  border: solid #9b9b9b 1px;
  box-shadow: 0px 3px 3px grey;
  width: 30vw;
  height: 42vh;
  padding: 3vmax;
  margin: 10vh 0 0 0;

  .project-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5vmax;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .project-img {
    height: 15vh;
  }

  .project-info {
    text-align: center;
    font-size: 1.6vmax;
    font-weight: 300;
  }

  &:hover {
    animation: zoom 0.2s ease-in forwards;
  }

  @media (min-width: 768px) {
    max-width: 20vw;
    width: auto;
  }
}
