@import "./../variables.scss";

.projects-page-content{
    height:180vh;
    width:100vw;
    background-image: url("../media/projects-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bg-color;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .project-title{
        margin-bottom: 6vh;
    }

    .projects-page-content{
        height:100vh;
        flex-direction: row;
        background-image: url("../media/projects-desktop-bg.jpg");
    }
    .projects-wrapper{
        width: 80vw;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}