@import "./../variables.scss";

body,html, .welcome-page-content{
    height:100vh;
    width:100vw;
    background-image: url("../media/welcome-page-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-page-content{
    background-color: $bg-color;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dark-bg{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 13em;
    background-color: rgba(0, 0, 0, 0.815);
    height: 40vh;
    width: 40vh;
}

.middle-text{
    //Fix this solution with space-between
    .line{
        display:block;
        margin:auto;
        background-color:$additional-color;
        width: 70vw;
        height: 2px;
    }
    .name{
        font-size: 11vw;
        font-weight: 700;
        p{
        margin:0.2em;
        padding:0.2em;
        }
    }
    .job{
        font-size: 6vw;
        font-weight: 300;
    }
}

p{
    text-align: center;
}

.welcome-page-content{
    position: relative;
}

@media (min-width: 768px){
    .middle-text{
        .name{
            font-size: 8vh;
        }
        .job{
            font-size: 3vh;
            p:first-child{
                margin-bottom:0;
            }
            p:nth-child(2){
                margin-top:1vh;
            }
        }
        .line{
            width: 28vw;
        }
    }
}